#FILES FOR INTELLIJ IDEA
#=======================
.idea/*
.vscode/
/bin/*
/bin/**/*

#FILES FOR GRADLE
#=======================
.gradle
/build/
**/build/

#FILES FOR MCREATOR DEV WORKSPACE
#===============================
/jdk/
/src/main/resources/snapshot.conf
/logs

#SYSTEM AND JAVA FILES
#=====================
Thumbs.db
debug.log
hs_err_pid*

#MACOS
#=====================
.DS_Store
.AppleDouble
.LSOverride